{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Confirmation mot de passe {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
              {% if error != 0 %}
            <div class="card-header bg-transparent pb-5">
                <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                E-mail de confirmation
              </div>
            </div>

           Veuillez entrer l'adresse mail avec laquelle vous vous êtes connecté.
                <br><br>
              <form method="POST" action="{% url 'reset' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                      <input style="width: 88%" type="email" name="confirmMail" placeholder="Email de confirmation">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Envoyer le code de confirmation</button>
                </div>
              </form>
            </div>
              {% else %}
          <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                ADRESSE MAIL INTROUVABLE !!
              </div>
          <div class="row mt-3" style="text-align: center">
              <p style="text-align: center">veuillez vous créer un autre compte <a href="{% url 'register' %}">ici</a>  au cas ou votre
              mémoire vous joue des tours.</p>
          </div>
            </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
